@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply bg-gray-200 h-14 w-72 rounded-xl p-2 focus:outline-none md:h-14 md:w-80 md:rounded-xl md:p-4 dark:bg-black dark:border dark:border-neutral-800 dark:text-white dark:hover:border-neutral-700
  }

  .message {
    @apply dark:bg-white dark:text-black bg-black p-4 border rounded-md fixed bottom-0 mb-4 font-semibold text-white animate-slide-up;
  }

  .santru {
    @apply border rounded-full p-2 dark:bg-black dark:text-white dark:border-gray-600;
  }

  .centered-div {
    @apply dark:bg-black dark:text-white dark:border-neutral-700 h-full flex justify-center p-4 scrollbar-hidden;
  }

  .width-height {
    @apply md:dark:bg-neutral-900 scrollable-container dark:bg-black dark:text-white dark:border-neutral-700 mt-14 top-0 left-0 w-full max-w-[650px] md:h-[90vh] bg-white flex flex-col md:relative md:border-gray-300 md:border md:shadow-lg overflow-y-auto scrollbar-hidden md:rounded-3xl;
  }

  .appearence-btns {
    @apply h-[60px] flex md:ml-0 ml-4 p-2 items-center justify-center rounded-md hover:bg-gray-300 dark:hover:bg-stone-900 md:w-[122px];
  }

  .settings-pah-m-styles {
    @apply flex h-10 items-center justify-between p-3 rounded-md;
  }

  .setting-buttons {
    @apply h-12 w-[205px] border-b border-b-gray-400 text-gray-400;
  }

  .settings-pah-m-styles {
    @apply flex h-10 items-center justify-between p-3 rounded-md;
  }

  .centered-div {
    @apply dark:bg-black dark:text-white dark:border-gray-800 w-full h-full flex justify-center p-4 overflow-y-auto scrollbar-hidden;
  }

  .width-height {
    @apply md:dark:bg-neutral-900 dark:bg-black dark:text-white dark:border-gray-800 mt-14 top-0 left-0 w-full max-w-[650px] md:h-[90vh] bg-white flex flex-col md:relative md:border-gray-300 md:border md:shadow-lg overflow-y-auto scrollbar-hidden md:rounded-3xl;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.1s ease-out forwards;
}

.hover-effect {
  border-radius: 0.375rem;
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  transition: gray 0.3s ease;
}

.hover-effect:hover {
  background-color: #ebe9e9;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-container {
  overflow-y: auto;
}