/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply bg-gray-200 h-14 w-72 rounded-xl p-2 focus:outline-none md:h-14 md:w-80 md:rounded-md md:p-4;
  }

  .message {
    @apply bg-black p-4 border rounded-md fixed bottom-0 mb-4 font-semibold text-white animate-slide-up;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.1s ease-out forwards;
}

.hover-effect {
  border-radius: 0.375rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.hover-effect:hover {
  background-color: #ebe9e9;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply bg-gray-200 h-14 w-72 rounded-xl p-2 focus:outline-none md:h-14 md:w-80 md:rounded-md md:p-4;
  }

  .message {
    @apply bg-black p-4 border rounded-md fixed bottom-0 mb-4 font-semibold text-white animate-slide-up;
  }

  .santru {
    @apply border rounded-full p-2;
  }
  .appearence-btns {
    @apply w-[122px] h-[60px] flex items-center justify-center rounded-md  hover:bg-gray-400;
  }

  .setting-buttons {
    @apply h-12 w-[205px] border-b border-b-gray-400 text-gray-400;
  }

  .settings-pah-m-styles {
    @apply flex h-10 items-center justify-between p-3 rounded-md;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.1s ease-out forwards;
}

.hover-effect {
  border-radius: 0.375rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.hover-effect:hover {
  background-color: #ebe9e9;
}
